body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
#available_job{
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
}
#available_job .toggle_job{
    display:flex;
    padding-left: 10%;
    flex-direction: column;
    border-right:#e71a0f solid 4px;
}
.toggle_job .toggle_job_title{
    display: flex;
    background-color: #e71a0f;
    justify-content: center;
    width: 200px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition-timing-function: ease;
    transition: width 1s;
}
.toggle_job_title:hover{
    width: 250px;
}
#available_job .col_main{
    display: flex;
    margin-left: 5%;
    padding: 5%;
    flex-direction: column;
    background-color: #fdf7dc;
}